$black: #000000;
$mainOrange: #F5AF31;
$white: #ffffff;
$grey: #2F2D2D;
$lightGrey: #3F3D3D;

$linearGradientProj1: linear-gradient(90deg, rgba(135, 208, 242, .9) 0%, rgba(32, 151, 230, .9) 100%), url('../img/Med-clinic-site.png');
$linearGradientProj2: linear-gradient(90deg, rgba(171, 148, 223, .9) 0%, rgba(131, 80, 243, .9) 100%), url('../img/GitHub-Profiles.png');
$linearGradientProj3: linear-gradient(90deg, rgba(242, 188, 157, .9) 0%, rgba(245, 135, 55, .9) 100%), url('../img/Law-firm.png');
$linearGradientProj4: linear-gradient(90deg, rgba(130, 241, 135, .9) 0%, rgba(21, 195, 67, .9) 100%), url('../img/WeatherApp.png');

$html: #E44D26;
$css: #2965F1;
$js: #DABA31;
$bs: #7952B3;
$react: #00D1F7;
