@import './colors';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

body {
    background: $black;
    font-family: 'Raleway', sans-serif;
}

.show {
    display: block;
}

.section {
    &__title {
        position: relative;
        text-align: center;
        z-index: 1;
        color: $white;

        &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100px;
            height: 2px;
            content: '';
            background-color: $mainOrange;
        }

        &::before {
            position: absolute;
            top: -100%;
            height: 10px;
            color: $lightGrey;
            font-size: 60px;
            z-index: -1;
        }
    }
}

.nav__active {
    background-color: rgba(0,0,0, .1);
    backdrop-filter: blur(10px);
}

.nav__top {
    backdrop-filter: blur(10px);
    background: transparent;
}

//HEADER

.header {
    position: relative;
    height: 100vh;

    img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);

        &-one,
        &-three {
            font-size: 20px;
            font-weight: lighter;
            color: $white;
        }

        &-two {
            font-size: 35px;
            color: $mainOrange;
            font-weight: bold;
        }
    }
}

// NAV

.nav {
    display: none;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 80%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: .5s;
    z-index: 100;

    li {
        list-style: none;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: $black;

        &-item {
            color: $white;
            text-decoration: none;

            &:active {
                color: $mainOrange;
            }
        }
    }

    &__media {
        position: absolute;
        left: 30px;
        bottom: 20px;
        display: inline-block;
        text-shadow: 0 0 10px $black;
        z-index: 1;

        li {
            padding: 10px 0;
            list-style: none;
        }

        &-item {
            color: $white;
            font-size: 23px;
        }
    }

    &__mobile-menu {
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 28px;
    }

    &__mobile-btn {
        position: fixed;
        background: transparent;
        border: none;
        z-index: 15;
        cursor: pointer;
        color: $white;
    }

    &__mobile-close {
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 28px;
    }
}

//WELCOME SECTION

.welcome {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 630px;
    padding: 0 30px;
    background: $black;
    color: $white;
    z-index: 5;

    &__word {
        // font-size: 35px;
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 40px;
        text-shadow: 0 0 20px $white;
        text-transform: uppercase;
    }

    &__text {
        text-align: center;
        font-size: 20px;
    }
}

//ABOUT

.about {
    position: relative;
    padding: 90px 30px;
    background-color: $grey;
    color: $white;

    &__title {
        &::before {
            content: 'A';
        }
    }

    &__img {
        position: relative;
        display: block;
        margin-top: 50px auto;
        width: 250px;
        object-fit: cover;
        margin: 0 auto;
        z-index: 1;

        &-box {
            position: relative;
            width: 300px;
            margin: 0 auto;
            height: 350px;

            &::after {
                position: absolute;
                top: 100px;
                left: 40px;
                content: '';
                width: 50%;
                height: 215px;
                object-fit: cover;
                border: 15px solid $mainOrange;
                border-radius: 15px;
            }
        }
    }

    &__text {
        position: relative;
        padding: 40px;
        text-align: center;
        z-index: 1;
    }

    &__button-box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 15px 0;
    }

    &__btn {
        width: 200px;
        height: 30px;
        margin: 5px 0;
        padding: 5px 0;
        text-transform: uppercase;
        border-radius: 8px;
        text-decoration: none;
    }

    &__btn1 {
        color: $mainOrange;
        border: 1px solid $mainOrange;
    }

    &__btn2 {
        border: 1px solid $grey;
        background-color: $mainOrange;
        cursor: pointer;

        a {
            color: $grey;
            text-decoration: none;
        }

    }

    &__desc1 {
        padding-bottom: 20px;
    }
}

// PROJESTS {

.projects {

    padding: 90px 30px;
    color: $white;

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        padding: 40px 0;
    }

    &__title {
        &::before {
            content: 'P';
        }
    }

    &__proj1 {
        grid-column: 1/2;
        grid-row: 1/2;
        background: $linearGradientProj1;
    }

    &__proj2 {
        grid-column: 1/1;
        grid-row: 2/3;
        background: $linearGradientProj2;
    }

    &__proj3 {
        grid-column: 1/1;
        grid-row: 3/4;
        background: $linearGradientProj3 ;
    }

    &__proj4 {
        grid-column: 1/1;
        grid-row: 4/5;
        background: $linearGradientProj4;
    }

    &__info {
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
    }

    &__desc {
        padding: 7px 0;
        font-size: 20px;
    }

    &__icon {
        font-size: 25px;
        margin-bottom: 5px;
    }
}

.project {
    position: relative;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px 0;
    border-radius: 15px;
    text-decoration: none;
    color: $white;
}

//TECHNOLOGIES

.technologies {
    position: relative;
    background-color: $grey;
    color: $white;
    padding: 90px 30px;

    &__content {
        position: relative;
    }

    &::before {
        position: absolute;
        top: -5%;
        left: 0;
        width: 100%;
        height: 110%;
        content: '';
        backdrop-filter: blur(5px);
    }

    &__title {
        &::before {
            content: 'T';
        }
    }

    &__tech {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 45px 0;
        margin: 10px;
        border-bottom: 1px solid $lightGrey;
    }

    &__name {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
        cursor: pointer;
    }

    &__details {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        text-align: center;
        padding: 20px 0;
        transition: .3s;
    }

    &__icon {
        font-size: 25px;

        &--html {
            color: $html;
        }

        &--css {
            color: $css;
        }

        &--js {
            color: $js;
        }

        &--bs {
            color: $bs;
        }

        &--gh {
            color: $white;
        }

        &--react {
            color: $react;
        }
    }

    &__arrow {
        background: transparent;
        border: none;
        color: $mainOrange;
        transition: .3s;
        cursor: pointer;

        i {
            font-size: 20px;
        }
    }

    &__desc {
        display: none;
        line-height: 30px;
    }
}

.technologies__desc-active {
    display: block;
}

.technologies__arrow-rotate {
    transform: rotate(180deg);

}

//CONTACT

.contact {
    color: $white;
    padding: 90px 30px 0;
    background-image: url('../../src/img/Desktop/bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    &__title {
        &::before {
            content: 'C';
        }
    }

    &__info {
        width: 100%;
        padding: 70px 0 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__phone,
    &__mail {
        padding: 10px 0;
        text-shadow: 0 0 7px $black;

    }

    &__name {
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 5px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }

    &__label {
        padding-bottom: 5px;
        text-shadow: 0 0 7px $black;
    }

    &__input,
    &__textarea {
        color: $white;
        padding: 15px;
        margin-bottom: 30px;
        border: none;
        border-bottom: 2px solid $mainOrange;
        border-radius: 7px;
        background: transparent;

    }

    &__button {
        width: 200px;
        margin: 0 auto;
        padding: 8px 0;
        background-color: $mainOrange;
        border: none;
        border-radius: 7px;
        cursor: pointer;

        input {
            border: none;
            background: transparent;
            text-transform: uppercase;
            font-weight: bold;
            color: $lightGrey;
        }
    }

    &__links-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__media {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-top: 50px;

        li {
            list-style: none;
        }

        a {
            color: $mainOrange;
            font-size: 22px;
        }
    }
}

//FOOTER
.footer {
    display: flex;
    justify-content: center;
    color: $white;
    text-align: center;
    padding: 10px 0;
    font-size: 10px;
    background: transparent;
}

@import './medium.scss';
@import './large.scss';